@page
@model WebApp.Pages.Students.UpdateModel
@using WebApp.Database;
@{
	Layout = "/Pages/Shared/_Layout.cshtml";
}
@{ 
	var data = ViewData["data"] as Student;
	var dataClass = ViewData["dataClass"] as List<Class>;
}
<h1 class="text-center">THÊM SINH VIÊN</h1>
<form method="post">
	@Html.AntiForgeryToken()
	<div class="form-group">
		<label for="code">Mã sinh viên </label>
		<input type="text" name="Code" id="code" value="@data.Code" class="form-control" required maxlength="20" placeholder="Nhập mã sinh viên" autocomplete="off" />
	</div>
	<div class="form-group">
		<label for="name">Tên sinh viên </label>
		<input type="text" name="Name" id="name" value="@data.Name" class="form-control" required maxlength="50" placeholder="Nhập tên sinh viên" autocomplete="off" />
	</div>
	<div class="form-group">
		<label for="yearOfBirth">Năm sinh </label>
		<input type="text" name="YearOfBirth" value="@data.YearOfBirth" id="yearOfBirth" class="form-control" autocomplete="off" />
	</div>
	<div class="form-group">
		<label for="gender">Giới tính </label>
		<select name="Gender" id="gender" class="form-control">
			<option>---Chọn giới tính---</option>
			@if (data.Gender == false)
			{
				<option value="@data.Gender" selected>Nam</option>
				<option value="true">Nữ</option>
			}
			else
			{
				<option value="false">Nam</option>
				<option value="@data.Gender" selected>Nữ</option>
			}
		</select>
	</div>
	<div class="form-group">
		<label for="address">Địa chỉ </label>
		<input type="text" name="Address" value="@data.Address" class="form-control" required maxlength="100" id="address" placeholder="Nhập địa chỉ" autocomplete="off" />
	</div>
	<div class="form-group">
		<label for="avatar">Chọn avatar</label>
		<input type="file" name="Avatar" value="@data.Avatar" class="form-control-file" id="avatar" maxlength="500" />
	</div>
	<div class="form-group">
		<label for="detail">Chi tiết </label>
		<input type="text" name="Detail" value="@data.Detail" class="form-control" required id="detail" />
	</div>
	<div class="form-group">
		<label for="schoolId">Trường </label>
		<select id="schoolId" name="ClassId" class="form-control">
			<option>---Chọn lớp---</option>
			@foreach (var item in dataClass)
			{
				if (item.Id == data.ClassId)
				{
					<option value="@item.Id" selected="selected">@item.ClassName</option>
				}
				else
				{
					<option value="@item.Id">@item.ClassName</option>
				}
			}
		</select>
	</div>
	<button class="btn btn-outline-primary" type="submit"><i class="fas fa-user-edit fa-2x"></i></button>
	<a class="btn btn-outline-success" href="/Students/GetAll"><i class="fas fa-user-times fa-2x"></i></a>
	<a href="/Students/GetAll" class="btn btn-link"><i class="fas fa-list-ul fa-2x"></i></a>
</form>